$default: #fff !default;
$primary: #009baa !default;
$secondary: #009b46 !default;
$third: #002814 !default;
$background: #fff !default;
$shadow-primary: 0 0.02rem 1rem rgba(0, 0, 0, 0.1) !important;
$shadow-secondary: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
// Fonts
$font-family-default: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto !default;
$font-family-base: "Cerebri Sans", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto !default;
$font-family-alt: "Sofia Pro", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto !default;
